<div class="container">
  <div class="section" style="text-align: center">
    <slideshow
      [height]="'400px'"
      [autoPlay]="true"
      [showArrows]="false"
      [autoPlayInterval]="5000"
      [showDots]="true"
      [dotColor]="'#FFF'"
      [imageUrls]="imageSources"
    >
    </slideshow>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image">
          <img
            src="https://www.bikester.co.uk/editorial/entrypages/bkuk/20190411/20190410_BUK_helmetsglasses_380x380.jpg"
          />
        </figure>
      </div>
      <div class="column is-one-third">
        <figure class="image">
          <img
            src="https://www.bikester.co.uk/editorial/entrypages/bkuk/20190404/20190403_BUK_allweather_380x380.jpg"
          />
        </figure>
      </div>
      <div class="column is-one-third">
        <figure class="image">
          <img
            src="https://www.bikester.co.uk/editorial/entrypages/bkuk/20190509/20190507_BUK_deuter_380x380.jpg"
          />
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="section">
      <h4 class="title is-4 has-text-centered">Top Brands</h4>
      <div class="columns">
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//cube[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//shimano[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//ortler[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//haibike[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//garmin[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//votec[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//thule[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
        <div class="column" style="text-align: center">
          <img
            class="greyscale"
            src="https://images.internetstores.de/brands//schwalbe[100x50].png?forceSize=true&forceAspectRatio=true&forceAlign=center"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<deals-of-day></deals-of-day>
