<div class="container">
  <section class="hero">
    <div class="hero-body">
      <h1 class="title">
        Forgot your password?
      </h1>
      <h2 class="subtitle">
        Enter your email & reset your password.
      </h2>
    </div>
  </section>
  <div class="box">
    <success-message
      *ngIf="isSuccess"
      [message]="'Email sent. Check your inbox!'"
    ></success-message>
    <fail-message *ngIf="isFail" [message]="failMessage"></fail-message>
    <form [formGroup]="passwordResetForm">
      <div *ngIf="!isSuccess && !isFail">
        <div class="field">
          <label class="label">Email address</label>
          <p class="control has-icons-left">
            <input
              class="input"
              type="email"
              formControlName="email"
              placeholder="Enter your email address"
              name="password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button
              class="button is-success is-fullwidth"
              [ngClass]="{ 'is-loading': isLoading }"
              [disabled]="!passwordResetForm.valid"
              (click)="sendResetPassword()"
            >
              Send password reset email
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="isFail" class="has-text-centered" style="margin-top: 1rem">
    <button class="button" type="button" (click)="retry()">
      <span class="icon">
        <i class="fas fa-sync-alt"></i>
      </span>
      <span>Retry</span>
    </button>
  </div>
</div>
