<div class="newsletter" style="border-top: 1px solid #eee">
  <h1 class="is-size-4 has-text-centered" style="padding-bottom: 0.75rem">
    Join our Newsletter
  </h1>
  <div class="field has-addons has-addons-centered">
    <div class="control has-icons-left">
      <input
        class="input"
        type="email"
        placeholder="Enter your email address"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
    <div class="control">
      <a href="" class="button is-dark">Subscribe</a>
    </div>
  </div>
</div>
<footer class="footer has-background-light has-text-dark">
  <div class="container">
    <div class="footer-companyInfo">
      <div class="columns">
        <div class="column is-third">
          <p class="footer-section-title">Services</p>
          <p class="footer-section-link"><a href="">Shipping</a></p>
          <p class="footer-section-link"><a href="">Returns</a></p>
          <p class="footer-section-link"><a href="">FAQ</a></p>
          <p class="footer-section-link"><a href="">Contanct</a></p>
          <p class="footer-section-link"><a href="">Privacy</a></p>
          <p class="footer-section-link"><a href="">Terms & Customer</a></p>
        </div>
        <div class="column is-third">
          <p class="footer-section-title">Guides and reviews</p>
          <p class="footer-section-link"><a href="">Bike Size</a></p>
          <p class="footer-section-link"><a href="">Gravel</a></p>
          <p class="footer-section-link"><a href="">Product</a></p>
          <p class="footer-section-link"><a href="">Bike</a></p>
        </div>
        <div class="column is-third">
          <p class="footer-section-title">Bikeshop</p>
          <p class="footer-section-link"><a href="">About Us</a></p>
          <p class="footer-section-link"><a href="">Sponsoring</a></p>
          <p class="footer-section-link"><a href="">Jobs & Legal</a></p>
          <p class="footer-section-link"><a href="">Press</a></p>
          <p class="footer-section-link"><a href="">Newsletter</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div
  class="footer-copyright has-text-centered has-background-dark has-text-white"
  id="copyright"
>
  <p>2019 &copy; Bikeshop</p>
</div>
