.newsletter {
  padding: 2rem 0;
}
.footer-section-title {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.footer {
  text-align: center;
  padding: 3rem 1.5rem !important;
}
.footer-companyinfo {
  margin: 0;
  padding: 0;
}
.footer-section-link a {
  color: #4a4a4a;
}
.footer-copyright {
  padding: 1rem 0;
}
