.is-4 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.devider {
  height: 1px;
  width: 100%;
  background: #ddd;
  margin: 1rem 0 1.75rem 0;
}

.centerContent,
.centerText,
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #4a4a4a;
}

a:hover {
  text-decoration: underline;
}
